# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

firebase.json
google-services.json
chave_api.dart

# Ignorar arquivos de configuração/senhas dentro de lib
# ignora arquivos nomeados explicitamente
lib/firebase_options.dart
lib/chave_api.dart
lib/config_local.dart
lib/secrets.dart

# ignora qualquer arquivo com sufixo .secret.dart ou .local.dart
lib/**/*.secret.dart
lib/**/*.local.dart

# ignora pastas privadas dentro de lib
lib/private/
lib/.local/
